@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin: 0 0 50px;
}

.subtitle {
  @apply --marketplaceH2FontStyles;
}

.steps {
  display: flex;
  flex-direction: column;
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.step {
  margin-bottom: 50px;
}

.stepTitle,
.step p {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.signUpLink {
  width: 100%;
  margin-top: 36px;

  @media (--viewportMedium) {
    margin-top: 52px;
  }
}
.signupButton {
  @apply --marketplaceButtonStyles;
}

.linkAccountContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 25px;
}

.linkAccountContainer .col {
  flex-grow: 1;
}

.linkAccountContainer .colButtons {
  flex-grow: 2;
}

.linkAccountImg {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.steps hr {
  width: 100%;
}

.accountContainer {
  margin-bottom: 40px;
}
