@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}

.subtitle {
  @apply --marketplaceH2FontStyles;
}

.steps {
  display: flex;
  flex-direction: column;
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 36px;

  @media (--viewportMedium) {
    margin-top: 52px;
  }
}
.signupButton {
  @apply --marketplaceButtonStyles;
  @apply --SectionHero_animation;

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
    width: 260px;
  }
}

.linkAccountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkAccountContainer .col {
  flex-grow: 1;
}

.linkAccountContainer .colButtons {
  flex-grow: 2;
}

.linkAccountImg {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.steps hr {
  width: 100%;
}
