@import '../../marketplace.css';
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}
.container .colInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  margin-left: 9px;
}
.container .col {
  margin-left: 15px;
  align-self: center;
}

/* .container p {
  line-height: 10px;
} */

.imageWrapper {
  width: 73px;
  height: 73px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 20px;
}
.img {
  width: calc(100% + 72px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.col p {
  flex-grow: 2;
}
.valueContainer {
  width: 25%;
  display: flex;
  align-items: center;
}
.colValue p {
  font-size: 40px;
  flex-grow: 1;
  font-weight: 600;
}

.col p,
.colValue p {
  color: var(--marketplaceColorDark);
  text-align: left;
}

.postContent {
  font-size: 12px;
  line-height: 6px;
}

.postTitle {
  @apply --marketplaceH4FontStyles;
  font-weight: var(--fontWeightSemiBold);
  line-height: 16px;
}
