@import '../../marketplace.css';
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.container .colInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}
.container .col {
  margin-left: 15px;
  align-self: center;
}

.container p {
  line-height: 10px;
}

.roundImg {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.col p {
  flex-grow: 2;
}
.colValue p {
  font-size: 28px;
  font-weight: lighter;
  flex-grow: 1;
}

.col p,
.colValue p {
  color: var(--marketplaceColorDark);
  text-align: left;
}

.username {
  @apply --marketplaceH4FontStyles;
  font-weight: var(--fontWeightSemiBold);
}

.userContent {
  font-size: 12px;
}
