@import '../../marketplace.css';
.examples {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.examples .colInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}
.examples .col {
  margin-left: 15px;
  align-self: center;
}

.examples p {
  line-height: 10px;
}

.roundImg {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.img {
  width: 72px;
  height: 72px;
  max-height: 72px;
  border-radius: 20px;
}
.col p {
  flex-grow: 2;
}
.colValue p {
  font-size: 28px;
  font-weight: lighter;
  flex-grow: 1;
}

.col p,
.colValue p {
  color: var(--marketplaceColorDark);
  text-align: left;
}

.postContent {
  font-size: 12px;
}

.postTitle {
  font-size: 17px;
}
.whiteLetters p {
  color: white;
}
