@import '../../marketplace.css';

.root {
  position: relative;
  display: flex;
}

.inputSuccess {
  border-bottom-color: var(--successColor);
}

.inputError {
  border-bottom-color: var(--failColor);
}
