@import '../../marketplace.css';
.linkAccountContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.colButtons button {
  @apply --marketplaceButtonStyles;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: var(--fontWeightSemiBold);
  border-radius: 25px;
  height: 25px;
  padding: 0 10px;
  min-height: 28px;
  margin: 2px 0;
}

.colButtons {
  margin: 5px 3px;
}
