@import '../../marketplace.css';
.container {
  display: flex;
}

.codeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 90px;
  background-color: var(--matterColorBright);
  margin-right: 5px;
  border-bottom: 1px solid var(--attentionColor);
}
.code {
  color: var(--matterColor);
  font-weight: 600;
  font-size: 25px;
}
