@import '../../marketplace.css';
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.container .colInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}
.container .col {
  margin-left: 15px;
  align-self: center;
}

.container p {
  line-height: 10px;
}

.imgContainer {
  height: 72px;
  width: 72px;
  background-color: var(--marketplaceColorDark);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  /* background-position: center;
  ; */
  z-index: -2;
}
.overlayImage {
  filter: blur(5px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.img {
  /* width: 72px;
  height: 72px;
  max-height: 72px; */
  width: 100%;
  /* display: block; */
  width: 100%;
  /* width: 100%; */
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}
.col p {
  flex-grow: 2;
}
.colValue p {
  font-size: 28px;
  flex-grow: 1;
}

.col p,
.colValue p {
  color: var(--marketplaceColorDark);
  text-align: left;
}

.postContent {
  font-size: 12px;
}

.postTitle {
  @apply --marketplaceH4FontStyles;
  font-weight: var(--fontWeightSemiBold);
}
