@import '../../marketplace.css';

.FAQItemContainer {
  margin-top: 20px;
}

.diamond {
  width: 80px;
  height: 80px;
  margin: 15px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  border-radius: 20px;
  border: 8px solid #f5f5f5;
  float: left;
}

.img {
  width: 80px;
  height: 80px;
  margin: -15px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  left: 8px;
  top: 8px;

}

.FAQItemContent {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 192px;
}
