@import '../../marketplace.css';

.root {
  @apply --marketplaceModalFormRootStyles;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}
.accountTypeDescription {
  font-weight: 600;
  font-size: 25px;
}
.fieldSelect {
  margin-top: 32px;
}
.radioButtonRow {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px;
  white-space: nowrap;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}
.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  @apply --marketplaceModalPasswordMargins;
}

.bottomWrapper {
  @apply --marketplaceModalBottomWrapper;
}

.bottomWrapperText {
  @apply --marketplaceModalBottomWrapperText;
}

.termsText {
  @apply --marketplaceModalHelperText;
}

.termsLink {
  @apply --marketplaceModalHelperLink;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.colButtons button {
  @apply --marketplaceButtonStyles;
  height: 30px;
  padding: 0 10px;
  min-height: 30px;
  margin-right: 5px;
}
.colButtons button:hover:not([disabled]),
.colButtonsSelected button:focus {
  background-color: #b2b2b2 !important;
  color: #4a4a4a;
}
.colButtonsSelected button:disabled {
  @apply --marketplaceButtonStyles;
  height: 30px;
  padding: 0 10px;
  min-height: 30px;
  margin-right: 5px;
  background-color: #b2b2b2 !important;
  color: #4a4a4a !important;
}
.colButtons button:focus {
  color: #ffffff;
  background-color: #2a2a2a !important;
}
.colButtons,
.colButtonsSelected {
  margin: 10px 5px 5px 0;
}
