@import '../../marketplace.css';

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }
}

.FAQItemsContainer {
  @media (--viewportMedium) {
    display: flex;
    align-items: left;
    width: 100%;
  }
}

.FAQList {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (--viewportMedium) {
    width: 50%;

  }
}

