@import '../../marketplace.css';

:root {
  --ProfileSettingsForm_accountSize: 80px;
  --ProfileSettingsForm_accountSizeDesktop: 150px;
}
.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}

.title {
  @apply --marketplaceH1FontStyles;
  margin-bottom: 19px;

  @media (--viewportMedium) {
    margin-bottom: 38px;
    padding: 1px 0 7px 0;
  }
}

.accountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.accountButton {
  @apply --marketplaceButtonStyles;
  border-radius: 40px;
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  margin: 10px 0;
  width: 200px;
  padding: 0;
  z-index: 1;
}
.accountButton:hover {
  background: #e7e7e7;
  border: 1px solid #4a4a4a;
}
.accountPosition {
  margin-left: -11px;
}

.accountButtonSelected {
  @apply --marketplaceButtonStyles;
  border-radius: 40px;
  background: #4a4a4a;
  border: 1px solid #4a4a4a;
  margin: 10px 0;
  width: 200px;
  padding: 0;
}
.accountButtonSelected p {
  color: #e7e7e7;
}
.accountButtonSelected:hover {
  background: #4a4a4a;
  border: 1px solid #e7e7e7;
}
.accountPlaceholder {
  /* Dimension */
  position: relative;
  width: var(--ProfileSettingsForm_accountSize);
  height: var(--ProfileSettingsForm_accountSize);

  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Initial coloring */
  background-color: var(--matterColorBright);
  border-radius: calc(var(--ProfileSettingsForm_accountSize) / 2);
  cursor: pointer;

  @media (--viewportMedium) {
    width: var(--ProfileSettingsForm_accountSizeDesktop);
    height: var(--ProfileSettingsForm_accountSizeDesktop);
    border-radius: calc(var(--ProfileSettingsForm_accountSizeDesktop) / 2);
  }
}
.accountPlaceholder {
  /* Placeholder border */
  margin-top: 30px;
  border-style: dashed;
  border-color: var(--matterColorNegative);
  border-width: 2px;

  transition: var(--transitionStyleButton);

  &:hover {
    border-color: var(--matterColorAnti);
  }
}

.accountPlaceholderTextMobile {
  @media (--viewportMedium) {
    display: none;
  }
}
.accountPlaceholderText {
  display: none;

  @media (--viewportMedium) {
    display: block;
    max-width: 130px;
    text-align: center;
  }
}
